# ===== IDE =====
.idea/
.vscode/

# ===== Python =====
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env

# ===== Dataset =====
VOCdevkit/
yolo_train.txt
yolo_val.txt

# ===== Weights =====
weights/
*.pt
*.pth
*.onnx
*.engine

# ===== Outputs =====
runs/
wandb/
*.cache
*.cache.npy
*.log

# ===== OS =====
Thumbs.db
Desktop.ini
.DS_Store
